/* =========================
   RESET GLOBAL
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1C2E46;
  color: white;
}

/* =========================
   NAVBAR
========================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background: #354E6B;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

.menu a:hover {
  color: #4fc3f7;
}

/* =========================
   HERO SECTION
========================= */
.hero {
  padding: 80px 40px;
  background: #1C2E46;
}

.hero-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
}

.hero-image img {
  width: 260px;
  height: 340px;
  object-fit: cover;
  border-radius: 18px;
  border-left: 8px solid #38bdf8;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.25);
  transition: 0.4s ease;
}

.hero-image img:hover {
  transform: scale(0.96);
  box-shadow: 0 28px 60px rgba(0, 0, 0, 0.6);
}

.hero-text h1 {
  font-size: 38px;
  margin-bottom: 20px;
}

.hero-text p {
  line-height: 1.7;
  margin-bottom: 14px;
  color: #c7d3e3;
}

.btn {
  display: inline-block;
  margin-top: 18px;
  padding: 12px 28px;
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.35s ease;
  box-shadow: 0 6px 18px rgba(14, 165, 233, 0.35);
}

.btn:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 12px 28px rgba(14, 165, 233, 0.6);
}

/* =========================
   GALLERY SECTION
========================= */
.gallery-section {
  min-height: 100vh;
  padding: 80px 40px;
  background: #1C2E46;
  text-align: center;
}

.gallery-title {
  font-size: 28px;
  margin-bottom: 50px;
}

.gallery-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.gallery-item {
  width: 240px;
  height: 340px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid rgba(56, 189, 248, 0.6);
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.25);
  transition: 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.12);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.gallery-description {
  max-width: 600px;
  margin: auto;
  font-size: 16px;
  line-height: 1.6;
  color: #cbd5e1;
  min-height: 60px;
}
